.home-heading {
  text-align: center;
}

.home-p {
  width: 500px;
  margin: auto;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
  gap: 10px;
  padding-bottom: 20px;
}

.clients_list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.client-card {
  border: 1px black solid;
  width: 300px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
}

.mentor-button {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin-bottom: 20px;
}